:root {
  --header-background: #f9d9ab;
  --header-border: 5px solid #f3cc5f;
  --link-color: #009dff;
}

* {
  font-family: "Rubik", sans-serif;
  font-size: 11px;
}

img {
  height: 200px;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 24px;
}

h2 {
  font-weight: normal;
  font-size: 16px;
}

button {
  all: unset;

  cursor: pointer;
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
  }
}

.row {
  width: 100%;
  display: flex;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  main {
    /*max-width: 50%;*/
    display: flex;
    flex-direction: column;
    gap: 8px;

    header {
      display: flex;
      background: var(--header-background);
      border-bottom: var(--header-border);
      margin-bottom: 8px;

      div {
        text-align: center;

        &:nth-child(2) {
          width: auto;
        }
      }
    }

    section {
      display: flex;
      flex-direction: column;
      flex: 1;

      header {
        background: var(--header-background);
        border-bottom: var(--header-border);

        h2 {
          flex: 1;
          padding: 4px 0;
          margin: 0;
          text-align: center;
        }
      }

      article {
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
          margin: 0;
        }
      }
    }
  }
}