@use 'sass:color';

:root {
  --header-background: #f9d9ab;
  --header-border-color: #f3cc5f;
  --header-border: 5px solid var(--header-border-color);
  --link-color: #009dff;
  --overflow: hidden;
}

* {
  font-family: "Rubik", sans-serif;
  font-size: 11px;
}

b {
  font-weight: 600;
}

img {
  height: 150px;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
}

button {
  all: unset;

  cursor: pointer;
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
  }
}

.row {
  width: 100%;
  display: flex;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.center {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  padding: 0;
  background: #c7c7c7;
  gap: 8px;
  overflow: hidden;

  &.overflow {
    overflow: auto;
  }

  div#loading-container {
    position: absolute;
    background: #c7c7c7;
    inset: 0;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    display: flex;

    &.fade-out {
      animation: fadeout 1s;
    }

    &.hidden {
      display: none;
    }

    .loader {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 8px solid var(--header-background);
      border-right-color: var(--header-border-color);
      animation: rotate 1s infinite linear forwards;
    }
  }

  aside.language-selector {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    padding: 8px;
    z-index: 2;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        cursor: pointer;
        height: 16px;
        margin: 8px 0;

        &:first-child {
          margin: 0;
        }

        &::before {
          content: attr(tooltip);
          position: absolute;
          background: #555;
          pointer-events: none;
          border-radius: 8px;
          z-index: 1;
          padding: 4px;
          translate: calc(-100% - 4px) -3px;
          color: white;
          opacity: 0;
          visibility: hidden;
          transition: opacity 350ms;
        }

        &:hover::before {
          visibility: visible;
          opacity: 1;
        }

        &::after {
          content: "";
          position: absolute;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          background: black;
          translate: calc(-100% + 1px) -1px;
          filter: blur(1px);
        }

        &:hover::after {
          background: #009dff;
          filter: blur(2px);
        }

        &.active::after {
          background: red;
        }

        img {
          position: relative;
          width: 27px;
          height: inherit;
          z-index: 1;
        }
      }
    }
  }

  main {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: white;
    padding: 24px;
    position: relative;
    width: 100%;

    &.page {
      min-height: 800px;
      border: 1px solid gray;
    }

    header {
      display: flex;
      background: var(--header-background);
      border-bottom: var(--header-border);

      p {
        margin: 0;
      }

      div {
        text-align: center;

        &:nth-child(1) {
          justify-content: center;
        }

        &:nth-child(2) {
          width: auto;
        }

        & > img {
          height: 125px;
        }
      }
    }

    section {
      display: flex;
      flex-direction: column;
      width: 100%;

      header {
        h2 {
          flex: 1;
          padding: 4px 0;
          margin: 0;
          text-align: center;
          font-weight: 600;
        }
      }

      article {
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &.grid {
          display: grid;
          gap: 8px;
          justify-items: center;
          align-items: start;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        p {
          margin: 0;
        }

        div.project {
          display: flex;
          flex-direction: column;
          width: 100%;

          div.header {
            display: inherit;
            justify-content: space-between;
            align-items: center;
            margin: 0 6px;
            border-bottom: 3px solid var(--header-background);

            span.title {
              font-size: 14px;
              font-weight: 500;
            }
          }

          div.content {
            padding: 8px;

            p.subtitle {
              text-decoration: underline;
              margin: 4px 0;
              font-size: 12px;
            }
          }

          div.actions {
            display: flex;
            padding: 8px;
            gap: 8px;

            & > button {
              all: unset;
              border-radius: 8px;
              border: 1px solid gray;
              display: inline-flex;
              align-items: center;
              padding: 8px;
              //background: #e4e4e4;
              gap: 4px;
              cursor: pointer;

              &:hover {
                background: #e4e4e4;
              }

              & > img {
                width: 16px;
                height: auto;
                aspect-ratio: 230 / 225;
              }
            }
          }
        }

        div.card {
          display: flex;
          flex-direction: column;
          flex: 1;

          div.header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 6px;
          }

          div.content {
            display: flex;
            flex-wrap: wrap;
            padding: 8px;

            &.chips {
              gap: 4px;
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }
          }
        }

        div.formacio, div.experiencia {
          display: flex;
          flex-direction: column;
          border-left: 3px solid #f9d9ab;
          padding-left: 4px;

          p {
            margin-top: 4px;

            &.name {
              b {
                font-size: 12px;
              }
            }

            &.date {
              font-weight: lighter;
            }

            &.desc {
              font-size: 10px;
              margin: 0;
            }
          }
        }

        div.lang {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

span.chip {
  min-height: 20px;
  border-radius: 8px;
  padding: 0 12px;
  text-align: center;
  color: #44474e;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  user-select: none;

  &:hover {
    background: rgba(68, 71, 78, 0.08);
  }
}

.action {
  display: flex;
  flex-direction: row;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (width <= 1440px) {
  body {
    main {
      max-width: 50%;
    }
  }

  .chips {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
  }
}

@media (width <= 1024px) {
  body {
    main {
      max-width: 60%;
    }
  }

  .page {
    height: unset !important;
  }
}

@media (width <= 768px) {
  body {
    main {
      max-width: 80%;
    }
  }

  img.profile-img {
    height: 75px !important;
  }

  .row {
    flex-direction: column;
    gap: 8px;
  }
}